# Scraping the locations of the article: "Following The Money Trail To Alaska's 'Ballard North'"

In [1]:
import cssselect
import urllib2
import lxml
from lxml import html
import ssl

In [2]:
import folium
import geopandas
import xml.etree.ElementTree as ET 
import pandas
import urllib
import json

In [3]:
#THIS CODE BELOW IS FOR: http://kuow.org/post/following-money-trail-alaskas-ballard-north
#here is where we request access to the text in the link 
url = "http://kuow.org/post/following-money-trail-alaskas-ballard-north"
req = urllib2.Request(url, headers={'User-Agent' : "Magic Browser"}) 
con = urllib2.urlopen( req )
doc_text = con.read()
doc = lxml.html.fromstring(doc_text)
doc.make_links_absolute(url)

In [4]:
#this block extracts the article's text, which will be used in geoparser.io 
story = ""
for row in doc.cssselect("div.field-item.even"):
    whole_body = row.cssselect("p")
    for i in whole_body:
        temp = i.text

        if temp != None:
            temp = temp.strip()
            if (temp.startswith("In Ballard")) or (temp.startswith("SEAN CASADY")) or (temp.startswith("The yard")) or (temp.startswith("On Monday")) or (temp.startswith("Sonny")) or (temp.startswith("KIRO:")):
                #removed bottom stories from the webpage because that info was not needed 
                print ""
            else:

                story = story + " " + temp
        
print story

  A few years after Abdirahman Shire moved to the U.S., he found work at a Tyson Foods chicken factory in Kentucky. That’s when he got a call from a friend, another Somali guy he’d known in a refugee camp in Uganda. SHIRE: “They say, ‘Abdi, why you was in Kentucky? There is no money Kentucky! Come to Seattle, then you go Alaska! You making good money!’” Shire asked how much. His friend said he could earn $9,000 in three or four months. SHIRE: “I say, ‘Whoa, my God. That is too much money!’” Shire, 44, is among an increasing number of Somalis and other East Africans who live in the Seattle area and work in the fishing industry in Alaska. There are so many people from Seattle working in Dutch Harbor that some call it "Ballard North." He immigrated to the U.S. in 2012. Most seafood processing jobs start at minimum wage, which is $8.75 in Alaska. As long as there’s fish to process, most places give workers at least 12 hours a day, seven days a week. With overtime, that’s like starting at $45,000 a year. The company also offers room and board, so the idea is that workers can save up. In June, Shire packed his bags and flew to Dutch Harbor for a job with Westward Seafoods. It takes three hours to fly to Dutch Harbor from Anchorage. The plane is so small that passengers are seated according to their weight. It’s also the largest fishing port in North America. Don Goodfellow, who runs the plant where Shire works, calls it an ethnic melting pot. GOODFELLOW: “You can sit down in our galley at lunchtime and hear five or six different languages being spoken at any given time.” Goodfellow says Seattleites eat fish that came from Dutch Harbor all the time. A lot of it is pollock, a ground fish that gets made into the Filet-O-Fish at McDonald’s or a bag of frozen fillets from Costco. The processing life isn’t glamorous. There are no views of the Alaskan wild, and the work is monotonous. Shire spends his days inside the factory. He gets so bored he sometimes yells, “Alaska!” SHIRE: “Always I say, 'Alaska.' When I feel boring, I say, ‘Alaska!’” He yells it so often that Alaska has become his nickname. Shire walks with a limp from an old injury. He laughs often, showing off a snagged front tooth that points straight out. On the job, he stands at a junction where one conveyor belt slopes down to meet another. Workers line up along the belts. They wear hard hats, hair nets and rain gear under long rubber aprons. Everything smells like fish. Shire wears heavy-duty rubber boots with a wool liner inside to keep warm. There are no windows, just fluorescent lighting. The machinery is loud. The fish first get headed, gutted and cleaned. Then the pinkish white fillets are piled into a green plastic basket, which comes down the conveyor belt toward Shire. He picks up the basket, weighs it on a little scale and puts it on another conveyor belt. The plant is its own world. The galley and the bunkhouse are across from the factory. Shire says he almost never leaves. He wakes at 5 a.m. SHIRE: “I take my shoes, I take my jacket, I take my badge for clock, I take some breakfast. Then I go production.” His shift runs from 6 a.m. to 6 p.m. seven days a week. Lunch is at 11. On this day, it’s garlic bread and spaghetti. SHIRE: “Today is good food.” He eats with Ali Elmi, the Somali friend who told him about Alaska. Lunch is followed by a quick cigarette outside the plant. And then back to the line. Shire is Muslim, so he steps away to pray five times a day. He prays next to a row of lockers in the break room. He uses a napkin as a makeshift prayer rug just for his forehead. But it’s a challenge. This year he decided not to fast during the holy month of Ramadan. The days in Alaska are just too long, and he wouldn’t have been able to eat or drink for 16 to 22 hours a day. He did take a day off at the end of Ramadan. It’s the only day he didn’t work all summer. He says Muslims working at the different seafood plants got together to celebrate. When his shift ends, Shire clocks out and eats dinner in the galley. Then comes the best part of his job: returning to his room. He lucked out and got a room that would normally be for three people all to himself. There's a bunk bed plus a single twin. That’s where Shire sleeps. He bought a fuzzy blanket with a tiger on it in Seattle. He checks out DVDs from the library to watch on his laptop at night. He usually makes it through a whole episode of “Burn Notice” before falling asleep. Shire is saving the money he earns here to help his family in Somalia. Last year he sent $4,500 to his younger brother who bought a taxi. Now he's supporting himself, so Shire doesn’t have to send him more money. This year he’s planning to help another brother get into long-haul trucking. Shire said that after a few more seasons earning money to help more of his five siblings, he’ll be ready to start building his own life in the U.S.

# this next set of code is for the second article we considered using:

In [5]:
#THIS CODE BELOW IS FOR: http://kuow.org/post/high-risk-awaits-immigrants-alaska-s-ballard-north
url = "http://kuow.org/post/high-risk-awaits-immigrants-alaska-s-ballard-north"
req = urllib2.Request(url, headers={'User-Agent' : "Magic Browser"}) 
con = urllib2.urlopen( req )
doc_text = con.read()
doc = lxml.html.fromstring(doc_text)
doc.make_links_absolute(url)

In [6]:
#again, this is where we extract the text that we wanted to use for geoparser.io
story2 = ""
for row in doc.cssselect("div.field-item.even"):
    whole_body = row.cssselect("p")
    for i in whole_body:
        temp = i.text

        if temp != None:
            temp = temp.strip()
            if (temp.startswith("A few")) or ("Uganda" in temp) or (temp.startswith("The yard")) or (temp.startswith("Sonny")) or (temp.startswith("On Monday")) or (temp.startswith("KIRO")):
                #removed bottom stories from teh webpage because it included information we did not need 
                print ""
            else:
                story2 = story2 + " " + temp
        
print story2

  In Ballard, a human resources manager for Trident Seafoods talks to a room of people hoping to be seafood processors – warning them of the dangers of the job. SEAN CASADY, HR DIRECTOR: "You need to be able to stand on your feet for up to 16 hours a day in cold and wet conditions." He wants to make sure the new hires know this is a tough job. It’s easy to get hurt working in the seafood industry in Alaska. The Still, thousands of people head to Alaska to work in the fishing industry. They earn minimum wage but stand to make much more by working overtime. Room and board, provided by the company, are almost free – $5 per day for those who finish their contract ($15 for those who don’t). Workers often take the job hoping to save. For new immigrants, fish processing can be lucrative. But the plants are in very remote places – which makes it hard for those who get injured and don’t speak much English. That’s what happened to Salahaldin Adam, a fish processor at Trident Seafoods. He’s a refugee from the Darfur region of Sudan who lives in Spokane. A lot of immigrants – and increasingly Africans – come up to Alaska to save up money. In June, Adam came up to Cordova, Alaska, to work. But three weeks into his contract he hurt his right hand in a freezer. The doctor told him to rest for seven days, but taking time off eats into the money Adam was hoping to save. Time is especially precious during salmon season because the run only lasts a couple of months. When Adam first got hurt, a Trident representative took him to the hospital. The hospital took an X-ray but didn’t find broken bones. Seventeen days later, when reporters from Seattle caught up with him in the hospital parking lot, his hand still hurt. It was puffy and swollen. He was frustrated, saying he had been asking the company to schedule another appointment. They had tried, but to Adam it felt like they kept putting him off. At the hospital, he struggled to communicate with a nurse. NURSE: "So they did do an X-ray?" ADAM: "X-ray?" NURSE: "Did they do an X-ray of your hand?" ADAM: "Yeah." This is what it’s like trying to communicate. The broad strokes are clear but the details are tricky. The nurse looked up Adam’s file. He explained that he hadn’t understood what happened the last time, as no interpreter had been available. It turned out Adam had an appointment scheduled for the next day. Both Trident and the hospital had wanted him to see the doctor he’d seen the first time. It’s that sort of thing – the future tense, conditions – that is hard to understand in a new language. In the exam room, there’s a flyer on the wall with a special number that hospital staff can call for language help. But people don’t always use the number. The seafood companies often rely on other workers to help interpret. Casady, the human resources director for Trident, said the company has been trying to find ways to keep Adam working. CASADY: "In this particular case, we were able to accommodate the gentleman and give him duties where he only needed to use one hand." The seafood companies invest a lot of money flying workers up to Alaska and keeping them fed and housed. They avoid workers' compensation claims when possible. CASADY: "On workers' comp, you get about two-thirds of your pay. Versus if he continues to work on modified duty, then he gets full pay and we don’t have a workers' comp claim on top of that.” Many people who work with refugees say this is not the best job for a new arrival. Issa Braman works at a refugee welcome center run by Catholic Social Services in Anchorage. BRAMAN: "You have just been plopped into a brand new country. You’ve experienced trauma through various parts of your life and now you have no resources or connections to the community or home that you might have." She teaches a class for immigrants about why they shouldn’t work for the seafood companies. BRAMAN: "It’s basically like, ‘Here is the reality of what your life is going to look like if you take that fishing job.’" Braman says the ideal job for a new refugee would be washing dishes or working at Wal-Mart. Even if it’s part time and minimum wage, it gives people a chance to work their way up. And it keeps them close to people who can help. Back at the hospital in Cordova, Adam got an X-ray for the second time. He walked out with his wrist in a brace and a prescription for an anti-inflammatory. He was told to rest seven more days. Ultimately, Adam’s workers' compensation claim was accepted. But he said it’s not enough money to live on, so he’s struggling to find a new job in Spokane – one that allows him to work with one hand.

# this next part uses geoparser.io to map the geographical keywords from the articles:

In [7]:
import pip

def install(package):
   pip.main(['install', package])

install('requests')

Collecting requests
  Downloading requests-2.13.0-py2.py3-none-any.whl (584kB)
Installing collected packages: requests
Successfully installed requests-2.13.0

In [8]:
#this requests the info we will be getting from geoparser.io using an API code we subscribed to
#this request is for the first article
import requests
url = 'https://geoparser.io/api/geoparser'
headers = {'Authorization': 'apiKey 50294685388203526'} #got this API code by subscribing to geoparser.io
data = {'inputText': story}
response = requests.post(url, headers=headers, data=data)
geo_story = json.dumps(response.json(), indent=4)
print geo_story
#print json.dumps(response.json(), indent=4)

{
    "type": "FeatureCollection",
    "properties": {
        "source": "geoparser.io",
        "id": "lYDAO1aIeGpjMiJ48rDE4d",
        "apiVersion": "0.4.1"
    },
    "features": [
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -139.20265,
                    60.08677
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Mount Seattle",
                "country": "CA",
                "admin1": "12",
                "references": [
                    [
                        4304,
                        4311
                    ]
                ],
                "type": "mountain"
            },
            "id": 6082636
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -149.90028,
                    61.21806
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Anchorage",
                "country": "US",
                "admin1": "AK",
                "references": [
                    [
                        1235,
                        1244
                    ]
                ],
                "type": "seat of a second-order administrative division"
            },
            "id": 5879400
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    48.0,
                    6.0
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Somalia",
                "country": "SO",
                "admin1": "0",
                "references": [
                    [
                        4528,
                        4535
                    ]
                ],
                "type": "independent political entity"
            },
            "id": 51537
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -84.87762,
                    38.20042
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Kentucky",
                "country": "US",
                "admin1": "KY",
                "references": [
                    [
                        106,
                        114
                    ],
                    [
                        256,
                        264
                    ],
                    [
                        284,
                        292
                    ]
                ],
                "type": "first-order administrative division"
            },
            "id": 6254925
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -100.54688,
                    46.07323
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "North America",
                "country": "NULL",
                "admin1": "",
                "references": [
                    [
                        1360,
                        1373
                    ]
                ],
                "type": "continent"
            },
            "id": 6255149
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -135.15945,
                    61.44114
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "U.S. Bend",
                "country": "CA",
                "admin1": "12",
                "references": [
                    [
                        4899,
                        4903
                    ]
                ],
                "type": "stream"
            },
            "id": 6172829
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -166.5422,
                    53.8898
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Dutch Harbor",
                "country": "US",
                "admin1": "AK",
                "references": [
                    [
                        694,
                        706
                    ]
                ],
                "type": "populated place"
            },
            "id": 5861117
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    32.5,
                    1.25
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Uganda",
                "country": "UG",
                "admin1": "0",
                "references": [
                    [
                        208,
                        214
                    ]
                ],
                "type": "independent political entity"
            },
            "id": 226074
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    41.6331,
                    21.21406
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Turabah",
                "country": "SA",
                "admin1": "14",
                "references": [
                    [
                        3683,
                        3690
                    ],
                    [
                        3839,
                        3846
                    ]
                ],
                "type": "populated place"
            },
            "id": 101322
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.33207,
                    47.60621
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Seattle",
                "country": "US",
                "admin1": "WA",
                "references": [
                    [
                        302,
                        309
                    ],
                    [
                        588,
                        595
                    ],
                    [
                        675,
                        682
                    ]
                ],
                "type": "seat of a second-order administrative division"
            },
            "id": 5809844
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -150.00028,
                    64.00028
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Alaska",
                "country": "US",
                "admin1": "AK",
                "references": [
                    [
                        323,
                        329
                    ],
                    [
                        637,
                        643
                    ],
                    [
                        847,
                        853
                    ],
                    [
                        1985,
                        1991
                    ],
                    [
                        2017,
                        2023
                    ],
                    [
                        2054,
                        2060
                    ],
                    [
                        2090,
                        2096
                    ],
                    [
                        3331,
                        3337
                    ],
                    [
                        3704,
                        3710
                    ]
                ],
                "type": "first-order administrative division"
            },
            "id": 5879092
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -98.5,
                    39.76
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "United States",
                "country": "US",
                "admin1": "00",
                "references": [
                    [
                        50,
                        54
                    ],
                    [
                        763,
                        767
                    ]
                ],
                "type": "independent political entity"
            },
            "id": 6252001
        }
    ]
}

In [9]:
#this request is for the second article
import requests
url = 'https://geoparser.io/api/geoparser'
headers = {'Authorization': 'apiKey 50294685388203526'} #got this API code by subscribing to geoparser.io
data = {'inputText': story2}
response = requests.post(url, headers=headers, data=data)
geo_story2 = json.dumps(response.json(), indent=4)
print geo_story2
#print json.dumps(response.json(), indent=4)

{
    "type": "FeatureCollection",
    "properties": {
        "source": "geoparser.io",
        "id": "ZZW3QpNIo4ZaEHOwboNwd3",
        "apiVersion": "0.4.1"
    },
    "features": [
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -94.83804,
                    44.05135
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Darfur",
                "country": "US",
                "admin1": "MN",
                "references": [
                    [
                        1014,
                        1020
                    ]
                ],
                "type": "populated place"
            },
            "id": 5023853
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -149.90028,
                    61.21806
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Anchorage",
                "country": "US",
                "admin1": "AK",
                "references": [
                    [
                        3569,
                        3578
                    ]
                ],
                "type": "seat of a second-order administrative division"
            },
            "id": 5879400
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    30.0,
                    16.0
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Sudan",
                "country": "SD",
                "admin1": "00",
                "references": [
                    [
                        1031,
                        1036
                    ]
                ],
                "type": "independent political entity"
            },
            "id": 366755
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -117.42908,
                    47.65966
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Spokane",
                "country": "US",
                "admin1": "WA",
                "references": [
                    [
                        1050,
                        1057
                    ],
                    [
                        4579,
                        4586
                    ]
                ],
                "type": "seat of a second-order administrative division"
            },
            "id": 5811696
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -64.18105,
                    -31.4135
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "C\u00f3rdoba",
                "country": "AR",
                "admin1": "05",
                "references": [
                    [
                        4262,
                        4269
                    ]
                ],
                "type": "seat of a first-order administrative division"
            },
            "id": 3860259
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -122.33207,
                    47.60621
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Seattle",
                "country": "US",
                "admin1": "WA",
                "references": [
                    [
                        1648,
                        1655
                    ]
                ],
                "type": "seat of a second-order administrative division"
            },
            "id": 5809844
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -150.00028,
                    64.00028
                ]
            },
            "type": "Feature",
            "properties": {
                "confidence": 1.0,
                "name": "Alaska",
                "country": "US",
                "admin1": "AK",
                "references": [
                    [
                        403,
                        409
                    ],
                    [
                        450,
                        456
                    ],
                    [
                        1120,
                        1126
                    ],
                    [
                        1179,
                        1185
                    ],
                    [
                        3117,
                        3123
                    ]
                ],
                "type": "first-order administrative division"
            },
            "id": 5879092
        }
    ]
}

Next steps: 
* remove the coordinates and places that were accidentally added to geo_story and geo_story2 by the geoparser (e.g. Cordoba in geo_story2, Mount Seattle in geo_story)
* peruse through geo_story and geo_story2 to pull out the place names and coordinates of those places 
* create a dataframe containing place names, lat, and long
* create a field in the data frame for geometry data that packages together the lat and long into a coordinates geometry column 
* change the df in to a .csv file or .gdf
* import as a dataset into Mapbox

# The code below is specifically for the first story of our narrative map:

In [1]:
#for i in geo_story: #this shows that geo_story (the output from geoparser.io) is a string of geojson
#    print i

In [10]:
json_as_dictionary = json.loads(geo_story) #this puts all of the geojson data into a dictionary

In [11]:
json_as_dictionary #this shows what is currently in the dictionary we just created

{u'features': [{u'geometry': {u'coordinates': [-139.20265, 60.08677],
    u'type': u'Point'},
   u'id': 6082636,
   u'properties': {u'admin1': u'12',
    u'confidence': 1.0,
    u'country': u'CA',
    u'name': u'Mount Seattle',
    u'references': [[4304, 4311]],
    u'type': u'mountain'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-149.90028, 61.21806], u'type': u'Point'},
   u'id': 5879400,
   u'properties': {u'admin1': u'AK',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'Anchorage',
    u'references': [[1235, 1244]],
    u'type': u'seat of a second-order administrative division'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [48.0, 6.0], u'type': u'Point'},
   u'id': 51537,
   u'properties': {u'admin1': u'0',
    u'confidence': 1.0,
    u'country': u'SO',
    u'name': u'Somalia',
    u'references': [[4528, 4535]],
    u'type': u'independent political entity'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-84.87762, 38.20042], u'type': u'Point'},
   u'id': 6254925,
   u'properties': {u'admin1': u'KY',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'Kentucky',
    u'references': [[106, 114], [256, 264], [284, 292]],
    u'type': u'first-order administrative division'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-100.54688, 46.07323], u'type': u'Point'},
   u'id': 6255149,
   u'properties': {u'admin1': u'',
    u'confidence': 1.0,
    u'country': u'NULL',
    u'name': u'North America',
    u'references': [[1360, 1373]],
    u'type': u'continent'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-135.15945, 61.44114], u'type': u'Point'},
   u'id': 6172829,
   u'properties': {u'admin1': u'12',
    u'confidence': 1.0,
    u'country': u'CA',
    u'name': u'U.S. Bend',
    u'references': [[4899, 4903]],
    u'type': u'stream'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-166.5422, 53.8898], u'type': u'Point'},
   u'id': 5861117,
   u'properties': {u'admin1': u'AK',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'Dutch Harbor',
    u'references': [[694, 706]],
    u'type': u'populated place'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [32.5, 1.25], u'type': u'Point'},
   u'id': 226074,
   u'properties': {u'admin1': u'0',
    u'confidence': 1.0,
    u'country': u'UG',
    u'name': u'Uganda',
    u'references': [[208, 214]],
    u'type': u'independent political entity'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [41.6331, 21.21406], u'type': u'Point'},
   u'id': 101322,
   u'properties': {u'admin1': u'14',
    u'confidence': 1.0,
    u'country': u'SA',
    u'name': u'Turabah',
    u'references': [[3683, 3690], [3839, 3846]],
    u'type': u'populated place'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-122.33207, 47.60621], u'type': u'Point'},
   u'id': 5809844,
   u'properties': {u'admin1': u'WA',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'Seattle',
    u'references': [[302, 309], [588, 595], [675, 682]],
    u'type': u'seat of a second-order administrative division'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-150.00028, 64.00028], u'type': u'Point'},
   u'id': 5879092,
   u'properties': {u'admin1': u'AK',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'Alaska',
    u'references': [[323, 329],
     [637, 643],
     [847, 853],
     [1985, 1991],
     [2017, 2023],
     [2054, 2060],
     [2090, 2096],
     [3331, 3337],
     [3704, 3710]],
    u'type': u'first-order administrative division'},
   u'type': u'Feature'},
  {u'geometry': {u'coordinates': [-98.5, 39.76], u'type': u'Point'},
   u'id': 6252001,
   u'properties': {u'admin1': u'00',
    u'confidence': 1.0,
    u'country': u'US',
    u'name': u'United States',
    u'references': [[50, 54], [763, 767]],
    u'type': u'independent political entity'},
   u'type': u'Feature'}],
 u'properties': {u'apiVersion': u'0.4.1',
  u'id': u'lYDAO1aIeGpjMiJ48rDE4d',
  u'source': u'geoparser.io'},
 u'type': u'FeatureCollection'}

In [12]:
json_as_dictionary['features'] #this looks into the first key of the dictionary because there are multiple keys

[{u'geometry': {u'coordinates': [-139.20265, 60.08677], u'type': u'Point'},
  u'id': 6082636,
  u'properties': {u'admin1': u'12',
   u'confidence': 1.0,
   u'country': u'CA',
   u'name': u'Mount Seattle',
   u'references': [[4304, 4311]],
   u'type': u'mountain'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-149.90028, 61.21806], u'type': u'Point'},
  u'id': 5879400,
  u'properties': {u'admin1': u'AK',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Anchorage',
   u'references': [[1235, 1244]],
   u'type': u'seat of a second-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [48.0, 6.0], u'type': u'Point'},
  u'id': 51537,
  u'properties': {u'admin1': u'0',
   u'confidence': 1.0,
   u'country': u'SO',
   u'name': u'Somalia',
   u'references': [[4528, 4535]],
   u'type': u'independent political entity'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-84.87762, 38.20042], u'type': u'Point'},
  u'id': 6254925,
  u'properties': {u'admin1': u'KY',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Kentucky',
   u'references': [[106, 114], [256, 264], [284, 292]],
   u'type': u'first-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-100.54688, 46.07323], u'type': u'Point'},
  u'id': 6255149,
  u'properties': {u'admin1': u'',
   u'confidence': 1.0,
   u'country': u'NULL',
   u'name': u'North America',
   u'references': [[1360, 1373]],
   u'type': u'continent'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-135.15945, 61.44114], u'type': u'Point'},
  u'id': 6172829,
  u'properties': {u'admin1': u'12',
   u'confidence': 1.0,
   u'country': u'CA',
   u'name': u'U.S. Bend',
   u'references': [[4899, 4903]],
   u'type': u'stream'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-166.5422, 53.8898], u'type': u'Point'},
  u'id': 5861117,
  u'properties': {u'admin1': u'AK',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Dutch Harbor',
   u'references': [[694, 706]],
   u'type': u'populated place'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [32.5, 1.25], u'type': u'Point'},
  u'id': 226074,
  u'properties': {u'admin1': u'0',
   u'confidence': 1.0,
   u'country': u'UG',
   u'name': u'Uganda',
   u'references': [[208, 214]],
   u'type': u'independent political entity'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [41.6331, 21.21406], u'type': u'Point'},
  u'id': 101322,
  u'properties': {u'admin1': u'14',
   u'confidence': 1.0,
   u'country': u'SA',
   u'name': u'Turabah',
   u'references': [[3683, 3690], [3839, 3846]],
   u'type': u'populated place'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-122.33207, 47.60621], u'type': u'Point'},
  u'id': 5809844,
  u'properties': {u'admin1': u'WA',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Seattle',
   u'references': [[302, 309], [588, 595], [675, 682]],
   u'type': u'seat of a second-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-150.00028, 64.00028], u'type': u'Point'},
  u'id': 5879092,
  u'properties': {u'admin1': u'AK',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Alaska',
   u'references': [[323, 329],
    [637, 643],
    [847, 853],
    [1985, 1991],
    [2017, 2023],
    [2054, 2060],
    [2090, 2096],
    [3331, 3337],
    [3704, 3710]],
   u'type': u'first-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-98.5, 39.76], u'type': u'Point'},
  u'id': 6252001,
  u'properties': {u'admin1': u'00',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'United States',
   u'references': [[50, 54], [763, 767]],
   u'type': u'independent political entity'},
  u'type': u'Feature'}]

In [41]:
tableit = []

#note that the coordinates are listed as [longitude, latitude]

for x in json_as_dictionary['features']: #this block of code goes into the dictionary of dictionaries to specifically pull out coordinates
    test = x['geometry']['coordinates']
    longit = test[0]
    latit = test[1]
    
    dict = {'Location':x['properties']['name'], 'Lat':latit, 'Long':longit}
    tableit.append(dict)
 
df = pandas.DataFrame(tableit, columns=['Location','Lat', 'Long'])
df

         Location       Lat       Long
0   Mount Seattle  60.08677 -139.20265
1       Anchorage  61.21806 -149.90028
2         Somalia   6.00000   48.00000
3        Kentucky  38.20042  -84.87762
4   North America  46.07323 -100.54688
5       U.S. Bend  61.44114 -135.15945
6    Dutch Harbor  53.88980 -166.54220
7          Uganda   1.25000   32.50000
8         Turabah  21.21406   41.63310
9         Seattle  47.60621 -122.33207
10         Alaska  64.00028 -150.00028
11  United States  39.76000  -98.50000

In [33]:
df.head(3) #tests to see what the first 3 rows of the DF look like

        Location       Lat       Long
0  Mount Seattle  60.08677 -139.20265
1      Anchorage  61.21806 -149.90028
2        Somalia   6.00000   48.00000

In [34]:
import shapely
import shapely.geometry
import fiona
import fiona.crs

In [35]:
CoordinateTuples_list = zip(df['Long'], df['Lat']) #unites the lat and lon values into a tuple
CoordinateTuples_list

[(-139.20265000000001, 60.086770000000001),
 (-149.90028000000001, 61.218060000000001),
 (48.0, 6.0),
 (-84.877619999999993, 38.200420000000001),
 (-100.54688, 46.073230000000002),
 (-135.15944999999999, 61.441139999999997),
 (-166.54220000000001, 53.889800000000001),
 (32.5, 1.25),
 (41.633099999999999, 21.21406),
 (-122.33207, 47.606209999999997),
 (-150.00028, 64.000280000000004),
 (-98.5, 39.759999999999998)]

In [36]:
geometry_list = [shapely.geometry.Point(CoordinateTuple) for CoordinateTuple in CoordinateTuples_list] #changes the coordinates into usable geometry points
geometry_list

[<shapely.geometry.point.Point at 0xd89c5d0>,
 <shapely.geometry.point.Point at 0xd89c1b0>,
 <shapely.geometry.point.Point at 0xd89c470>,
 <shapely.geometry.point.Point at 0xd89c3f0>,
 <shapely.geometry.point.Point at 0xd89c710>,
 <shapely.geometry.point.Point at 0xd89c290>,
 <shapely.geometry.point.Point at 0xd89c230>,
 <shapely.geometry.point.Point at 0xd89c510>,
 <shapely.geometry.point.Point at 0xd89c450>,
 <shapely.geometry.point.Point at 0xd89c310>,
 <shapely.geometry.point.Point at 0xd89c890>,
 <shapely.geometry.point.Point at 0xd89c770>]

In [37]:
geometry_gs = geopandas.GeoSeries(geometry_list) #changes the coordinate tuple to a series 
geometry_gs

0             POINT (-139.20265 60.08677)
1             POINT (-149.90028 61.21806)
2                            POINT (48 6)
3     POINT (-84.87761999999999 38.20042)
4             POINT (-100.54688 46.07323)
5             POINT (-135.15945 61.44114)
6               POINT (-166.5422 53.8898)
7                       POINT (32.5 1.25)
8                POINT (41.6331 21.21406)
9             POINT (-122.33207 47.60621)
10            POINT (-150.00028 64.00028)
11                    POINT (-98.5 39.76)
dtype: object

In [57]:
%matplotlib inline

geopandas_gdf = geopandas.GeoDataFrame( #this adds the geometry column to the original table
    df,
    geometry=geometry_gs,
)
geopandas_gdf.crs=fiona.crs.from_epsg(4326) #this sets the projection of the map

geopandas_gdf #this is now what the table looks like with the geometry field added so that our data is mappable

         Location       Lat       Long                             geometry
0   Mount Seattle  60.08677 -139.20265          POINT (-139.20265 60.08677)
1       Anchorage  61.21806 -149.90028          POINT (-149.90028 61.21806)
2         Somalia   6.00000   48.00000                         POINT (48 6)
3        Kentucky  38.20042  -84.87762  POINT (-84.87761999999999 38.20042)
4   North America  46.07323 -100.54688          POINT (-100.54688 46.07323)
5       U.S. Bend  61.44114 -135.15945          POINT (-135.15945 61.44114)
6    Dutch Harbor  53.88980 -166.54220            POINT (-166.5422 53.8898)
7          Uganda   1.25000   32.50000                    POINT (32.5 1.25)
8         Turabah  21.21406   41.63310             POINT (41.6331 21.21406)
9         Seattle  47.60621 -122.33207          POINT (-122.33207 47.60621)
10         Alaska  64.00028 -150.00028          POINT (-150.00028 64.00028)
11  United States  39.76000  -98.50000                  POINT (-98.5 39.76)

In [58]:
geopandas_gdf = geopandas_gdf.drop(0) #dropped the row containing a location we do not need in our narrative map - Mt. Seattle 
geopandas_gdf = geopandas_gdf.drop(1) # Anchorage
geopandas_gdf = geopandas_gdf.drop(4) # N. America
geopandas_gdf = geopandas_gdf.drop(5) # US Bend
geopandas_gdf = geopandas_gdf.drop(8) # Turabah
geopandas_gdf = geopandas_gdf.drop(10) # Alaska
geopandas_gdf = geopandas_gdf.drop(11) # US

geopandas_gdf.to_file('map_article1.geojson', driver = 'GeoJSON') #this creates a geojson file for the first article used for the narrative map

In [55]:
geopandas_gdf #this is the final table we used and the coordinates we used to create our narrative map

       Location       Lat       Long                             geometry
2       Somalia   6.00000   48.00000                         POINT (48 6)
3      Kentucky  38.20042  -84.87762  POINT (-84.87761999999999 38.20042)
6  Dutch Harbor  53.88980 -166.54220            POINT (-166.5422 53.8898)
7        Uganda   1.25000   32.50000                    POINT (32.5 1.25)
9       Seattle  47.60621 -122.33207          POINT (-122.33207 47.60621)

# The code below is specifically for the second story of our narrative map:

In [73]:
json_as_dictionary = json.loads(geo_story2) #this puts all of the geojson data into a dictionary

In [74]:
json_as_dictionary['features'] #this looks into the first key of the dictionary because there are multiple keys

[{u'geometry': {u'coordinates': [-94.83804, 44.05135], u'type': u'Point'},
  u'id': 5023853,
  u'properties': {u'admin1': u'MN',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Darfur',
   u'references': [[1014, 1020]],
   u'type': u'populated place'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-149.90028, 61.21806], u'type': u'Point'},
  u'id': 5879400,
  u'properties': {u'admin1': u'AK',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Anchorage',
   u'references': [[3569, 3578]],
   u'type': u'seat of a second-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-109.9432, 40.2894], u'type': u'Point'},
  u'id': 5771022,
  u'properties': {u'admin1': u'UT',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Ballard',
   u'references': [[5, 12]],
   u'type': u'populated place'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [30.0, 16.0], u'type': u'Point'},
  u'id': 366755,
  u'properties': {u'admin1': u'00',
   u'confidence': 1.0,
   u'country': u'SD',
   u'name': u'Sudan',
   u'references': [[1031, 1036]],
   u'type': u'independent political entity'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-117.42908, 47.65966], u'type': u'Point'},
  u'id': 5811696,
  u'properties': {u'admin1': u'WA',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Spokane',
   u'references': [[1050, 1057], [4579, 4586]],
   u'type': u'seat of a second-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-64.18105, -31.4135], u'type': u'Point'},
  u'id': 3860259,
  u'properties': {u'admin1': u'05',
   u'confidence': 1.0,
   u'country': u'AR',
   u'name': u'C\xf3rdoba',
   u'references': [[4262, 4269]],
   u'type': u'seat of a first-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-122.33207, 47.60621], u'type': u'Point'},
  u'id': 5809844,
  u'properties': {u'admin1': u'WA',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Seattle',
   u'references': [[1648, 1655]],
   u'type': u'seat of a second-order administrative division'},
  u'type': u'Feature'},
 {u'geometry': {u'coordinates': [-150.00028, 64.00028], u'type': u'Point'},
  u'id': 5879092,
  u'properties': {u'admin1': u'AK',
   u'confidence': 1.0,
   u'country': u'US',
   u'name': u'Alaska',
   u'references': [[403, 409],
    [450, 456],
    [1120, 1126],
    [1179, 1185],
    [3117, 3123]],
   u'type': u'first-order administrative division'},
  u'type': u'Feature'}]

In [94]:
tableit = []

#note that the coordinates are listed as [longitude, latitude]

for x in json_as_dictionary['features']: #this block of code goes into the dictionary of dictionaries to specifically pull out coordinates
    test = x['geometry']['coordinates']
    longit = test[0]
    latit = test[1]
    
    dict = {'Location':x['properties']['name'], 'Lat':latit, 'Long':longit}
    tableit.append(dict)
 
df = pandas.DataFrame(tableit, columns=['Location','Lat', 'Long'])
df = df.drop(5) #dropped the row containing the location "Cordova" because it's a plant referred to in the article and not a PLACE
df

    Location       Lat       Long
0     Darfur  44.05135  -94.83804
1  Anchorage  61.21806 -149.90028
2    Ballard  40.28940 -109.94320
3      Sudan  16.00000   30.00000
4    Spokane  47.65966 -117.42908
6    Seattle  47.60621 -122.33207
7     Alaska  64.00028 -150.00028

In [95]:
df.head(3) #tests to see what the first 3 rows of the DF look like

    Location       Lat       Long
0     Darfur  44.05135  -94.83804
1  Anchorage  61.21806 -149.90028
2    Ballard  40.28940 -109.94320

In [96]:
CoordinateTuples_list = zip(df['Long'], df['Lat']) #unites the lat and lon values into a tuple
CoordinateTuples_list

[(-94.838040000000007, 44.051349999999999),
 (-149.90028000000001, 61.218060000000001),
 (-109.9432, 40.289400000000001),
 (30.0, 16.0),
 (-117.42908, 47.659660000000002),
 (-122.33207, 47.606209999999997),
 (-150.00028, 64.000280000000004)]

In [97]:
geometry_list = [shapely.geometry.Point(CoordinateTuple) for CoordinateTuple in CoordinateTuples_list] #changes the coordinates into usable geometry points
#geometry_list

In [98]:
geometry_gs = geopandas.GeoSeries(geometry_list) #changes the coordinate tuple to a series 
#geometry_gs

In [99]:
geopandas_gdf = geopandas.GeoDataFrame( #this adds the geometry column to the original table
    df,
    geometry=geometry_gs,
)
geopandas_gdf.crs=fiona.crs.from_epsg(4326) #this sets the projection of the map

geopandas_gdf #this is now what the table looks like with the geometry field added so that our data is mappable

    Location       Lat       Long                             geometry
0     Darfur  44.05135  -94.83804  POINT (-94.83804000000001 44.05135)
1  Anchorage  61.21806 -149.90028          POINT (-149.90028 61.21806)
2    Ballard  40.28940 -109.94320            POINT (-109.9432 40.2894)
3      Sudan  16.00000   30.00000                        POINT (30 16)
4    Spokane  47.65966 -117.42908          POINT (-117.42908 47.65966)
6    Seattle  47.60621 -122.33207          POINT (-150.00028 64.00028)
7     Alaska  64.00028 -150.00028                                  NaN

In [100]:
geopandas_gdf.to_csv('map_article2.csv') #this creates a CSV file for the second article used for the narrative map